@{
    ViewBag.Title = "Home Page";
}
@*<div class="container">
    <div class="grid-item homeText">
        <p> Please choose the theme of your story:</p>
    </div>*@

    @*<div class="grid-item themeLinks">
        <a class="themeLink" href="/Animals/Index">
            <img class="themeLinkBorder" src="~/homePageIcons/frog.png" width="100" />
        </a><br /><br /><br /><br /><br />
        <a class="themeLink" href="/Pirates/Index">
            <img class="themeLinkBorder" src="~/homePageIcons/pirate.png" width="100" />
        </a><br /><br /><br /><br />
        <a class="themeLink" href="/Princesses/Index">
            <img class="themeLinkBorder" src="~/homePageIcons/princess.svg" width="100" />
        </a><br /><br /><br /><br />
    </div>

    <div class="grid-item themeDescriptions">
        <p id="descriptionText">Animals<br /> <br /><br />Pirates<br /><br /><br /> Princesses</p>
    </div>
</div>*@

<div class="homepagebs""><h1>STORY TELLER</h1></div>
