@{
    ViewBag.Title = "Home Page";
}
<div class="homeContainer">
    <div class="grid-item homeBackground">
        <div class="w3-container w3-center w3-animate-bottom">
            <div class="grid-item title">
                <p id="welcomeText">
                    Welcome to Storyteller<br />
                </p>
            </div>
            <div class="grid-item author">
                <p id="writer">where you are the author </p>
            </div>
        </div>
    </div>
</div>