@{
    ViewBag.Title = "Home Page";
}
<div class="homeContainer">
    <div class="grid-item homeBackground">
        <div class="grid-item title">
            <p id="welcomeText">
                Welcome to Storyteller
            </p>
        </div>
        <div class="grid-item author">
            <p id="writer">where you are the author </p>
        </div>
        <div class="grid-item theme">
            <div class="choice" id="choose">

                <div class="grid-item link">

                </div>
            </div>
        </div>
    </div>
</div>

