@{
    ViewBag.Title = "Home Page";
}

<style>
    li a {
        color: white;
    }

        li a:hover {
            background-color: gold;
            color: black;
        }
</style>

<div class="homeContainer">
    <div class="homeText">
        <div class="grid-item welcomeText">
            <p>Welcome to Storyteller</p>
        </div>
        <div class="author">
            <p>Where YOU are the author</p>
            <a href="~/Stories/Index" id="createHome"> <p>Create your own story or continue others</p></a>
            <a href="/Favorites/Index" id="favoriteHome"><p>Save favorites to read later</p></a>
        </div><br />


</div>
</div>