body {
    margin: 0;
    display: grid;
    /*grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(10, 65px);*/
}
/*Navbar styling*/
.navbar {
    grid-row: 1;
    grid-column: 1 / span 6;
    z-index: 3;
    position: fixed;
    width: 100%;
    font-family: 'Acme';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    font-size:18px;
}

    li a {
        display: block;
        color: black;
        background-color:transparent;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: gold;
            border-radius:5px;
        }

    li:last-child {
        border-right: none;
    }
/*end of navbar styling*/

/*Home Page stylings*/
.homeContainer {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(6, 65px);
    background-image: url('../Images/storybook.png');
    background-size: contain;
    background-repeat:no-repeat;
    min-width: 1336px;
    min-height: 570px;
    z-index:4;
    padding-top:100px;
}

.homeText {
    grid-row: 2/span 4;
    grid-column: 2/span 4;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.34);
    line-height:10px;
}

.welcomeText {
    width: 600px;
    font-family: 'Acme';
    padding-left: 15%;
    font-size: 50px;
    color: gold;
    text-shadow: 3px 3px black;
    -webkit-text-stroke: 1px black;
    z-index: 2;
}

.author {
    padding-left: 25%;
    width: 500px;
    font-family: 'Acme';
    font-size: 30px;
    color: gold;
    text-shadow: 1px 1px black;
    -webkit-text-stroke: 1px black;
    z-index: 2;
}

    .author a {
        font-family: 'Acme';
        font-size: 30px;
        color: gold;
        text-shadow: 1px 1px black;
        -webkit-text-stroke: 1px black;
    }
    /*end of hompage stylings*/

    /*stories styling*/
.containerStories {
    display: grid;
    grid-template-columns: repeat(12, 110px);
    grid-template-rows:repeat(12, 100px);
    min-width: 1336px;
    width: 90%;
    margin: 0px;
    padding: 0px;
    padding-left: 2%;
}

.wrapperStoriesPrincess {
    display: grid;
    grid-template-columns: 130%;
    grid-column: 1/span 2;
    grid-gap: 10px;
    background-color: white;
    color: black;
    font-family: 'Acme';
    text-align:center;
}

.wrapperStoriesPirates {
    display: grid;
    grid-template-columns: 130%;
    grid-column: 4/span 2;
    grid-gap: 10px;
    background-color: white;
    color: black;
    font-family: 'Acme';
    text-align: center;
}

.wrapperStoriesAnimals {
    display: grid;
    grid-template-columns: 130%;
    grid-column: 7/span 2;
    grid-gap: 10px;
    background-color: white;
    color: black;
    font-family: 'Acme';
    text-align: center;
}

.wrapperStoriesOther {
    display: grid;
    grid-template-columns: 130%;
    grid-column: 10/span 2;
    grid-gap: 10px;
    background-color: white;
    color: black;
    font-family: 'Acme';
    text-align: center;
}

.boxStories {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.storiesHeader {
    padding-top: 10%;
    text-align: center;
    font-family: 'Acme';
    background-image: url('../StoriesIndexPhotos/storyIndexPhoto.jpg');
    background-size: contain;
}

.storiesHeader a{
    font-size:18px;
    background-color:transparent;
    border:1px solid black;
    border-radius:5px;
    color:black;
}

    .storiesHeader a:hover {
        background-color: gold;
    }

    .createStory:hover{
        background-color:gold;
        color:black;
    }

    .princessStories {
        background-color: rgba(118, 113, 113, 0.46);
        background-color: pink;
        text-align: center;
        color: black;
        font-size: 20px;
    }

.pirateStories {
    background-color: red;
    color: black;
    text-align: center;
    font-size: 20px;
}

.animalStories {
    background-color: green;
    text-align: center;
    color: white;
    font-size: 20px;
}

.otherStories {
    background-color:orange;
    text-align: center;
    color: white;
    font-size: 20px;
}

a.faveButton {
    background-image: url('../homePageIcons/like.png');
    background-repeat:no-repeat;
    color:transparent;
}
/*end of story styling*/

/*STORIES AND FAVORITES ZOOM*/
.zoom {
    padding:0px;
    transition: transform .2s; /* Animation */
    margin: 5px;
}

    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
/*END STORIES AND FAVORITES ZOOM*/

/*Favorites styling*/
.favoritesTitle {
    padding-top: 6%;
    font-family: 'Acme';
    text-align:center;
}
/*End of favorites styling*/

/*Details stylings*/
.detailsContainer {
    /*display: grid;*/
    grid-template-rows: repeat(10,50px);
    grid-template-columns: repeat(15, 90px);
    /*grid-row:1/span 10;
    grid-column:1/span 15;*/
    width: 100%;
    height:auto;
    text-align: center;
    word-wrap: break-word;
    font-size: 1vw;
    min-width: 375px;
}
.detailsTitle {
    /*grid-row:2;
    grid-column:8;*/
    grid-column:1/span 15;
    font-size: 25px;
}
.detailsParagraphs {
    grid-column: 4/span 9;
    font-size: 18px;
}
.detailsPartialView {
    grid-column: 4/span 9;
    grid-row: auto;
}
.detailsAuthor {
    grid-column: 4/span 9;
    color: darkslategrey;
}

.storyDetailsBackground{
    /*grid-column:1/span 15;*/
    grid-column:4/span 9;
    background-color:rgba(229, 222, 222, 0.65);
}

#prompts {
    font-size: 18px;
}

#piratePrompt {
    font-family: 'Shojumaru', cursive;
    font-size: 20px;
}

#animalPrompt {
    font-family: 'Chela One', cursive;
    font-size: 20px;
}

#princessPrompt {
    font-family: 'Gabriela', serif;
    font-size: 20px;
}
/*Styling for each individual themes*/
.Animals {
    grid-column: span 15;
    background-image: url('../StoriesIndexPhotos/piggy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: auto;
    grid-row: span 2;
}

.Pirates {
    grid-row:1/span 15;
    grid-column:1/span 15;
    background-image: url('../StoriesIndexPhotos/pirates.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: auto;
    }
.Princesses {
    display: grid;
    grid-template-rows: repeat(10,50px);
    grid-template-columns: repeat(15, 90px);
    background-image: url('../StoriesIndexPhotos/princess.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    width: auto;
}
.Other {
    grid-column: span 15;
    background-image: url('../homePageIcons/pirate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: auto;
    grid-row: span 2;
}

.createContainer {
    background-image: url('../StoriesIndexPhotos/princess.png');
    display: grid;
    grid-template-rows: repeat(15,200px);
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: 1vw;
    min-width: 375px;
    min-height:700px;
}
/*end individual themes*/

/*MAKING TEXT AREA BIGGER FOR SUBMITTING STORIES*/
textarea {
    width: 400px;
    height: 200px;
    background-color:rgba(245, 236, 236, 0.57)
}

input .form-control {
    width: 400px;
    height: 400px;
    background-color: rgba(245, 236, 236, 0.57)
}
/*END TEXT AREA*/

/*Create Story Styling*/
.storyCreateContainer {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(7, 65px);
    min-width: 1336px;
    width: 90%;
    margin: 0px;
    padding: 0px;
}

.createStory {
    /*grid-row: 3;*/
    grid-column: 1 / 7;
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    color: #4d0000;
    text-align: center;
}

#instructions {
    /*grid-row: 4;*/
    grid-column: 1 / 7;
    font-size: 30px;
    color: #4d0000;
    text-align: center;
}

.createStory {
    /*grid-row:6;*/
    grid-column: 1 /7;
}

#chTheme {
    /*grid-row: 8;*/
    grid-column: 1 /7;
    font-size: 30px;
    color: #4d0000;
    text-align: center;
    justify-content: center;
}

.giveTitle {
    /*grid-row:10;*/
    grid-column: 1 / 7;
}

.form-control.text {
    height: 50px;
    width: 200px;
}

.col-md-10 {
    justify-content: center;
    text-align: center;
}

#choice {
    font-size: 30px;
    color: #4d0000;
    text-align: center;
}

.createStoryBackground {
    background-image: url('../Images/pexel-book.png');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: contain;
    width: 100%;
    height: 800px;
    grid-row: 1 / span 6;
    grid-column: 1 / span 18;
}

#createBut {
    border-radius: 12px;
    background-color: rgba(233, 235, 36, 0.75);
    font-size: 24px;
    padding: 8px 25px;
    /*transition: 0.3s;*/
}

#myBtn {
    grid-row: 1;
    display: inline-block;
    border-radius: 12px;
    background-color: rgba(233, 235, 36, 0.75);
    font-size: 20px;
    padding: 10px 30px;
    margin-left: 500px;
}
/*end of create story styling*/

/*.storyCreateBackground {
    display: grid;
    grid-template-rows: repeat(15,100px);
    grid-template-columns: repeat(15, 1fr);
    background-image: url('../StoriesIndexPhotos/princess.png');
    height: 700px;
}

.createAStory{
    grid-row:2;
    grid-column:7;
}

#myBtn {
    grid-row: 4;
    grid-column: 7;
    height:50px; 
}*/

/*Login/Register styling*/
.login {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 65px);
    min-width: 100%;
    width: 90%;
    margin: 0px;
    padding: 0px;
    background-image: url('../../Images/storybook.png');
    background-size: cover;
    font-family:'Acme';
}

.loginInfo {
    grid-column: 4 / span 1;
    grid-row: 3
}

#loginForm {
    border: 2px solid black;
    border-radius: 9px;
    text-align: center;
    background-color: whitesmoke;
    padding: 8px;
}

.reg {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 65px);
    min-width: 100%;
    width: 90%;
    margin: 0px;
    padding: 0px;
    background-image: url('../../Images/storybook.png');
    background-size: cover;
    font-family: 'Acme';
}

.reg-Info {
    grid-column: 4 / span 1;
    grid-row: 3;
}
/*End of login/register styling*/

/* Media Queries for individual themes*/
@media only screen and (max-width:1125px) {
    .detailsContainer {
        grid-template-rows: repeat(15,150px);
        font-size:1.4vw;
    }
    .Animals{
        height: 300px;
    }
    .Princesses {
        height: 300px;
    }
    .Pirates {
        height: 300px;
    }
    .Other {
        height: 300px;
    }
}
@media only screen and (max-width:1000px) {
    .detailsContainer {
        grid-template-rows: repeat(15,200px);
        font-size: 1.7vw;
    }
    .Animals {
        height: 400px;
    }

    .Princesses {
        height: 400px;
    }

    .Pirates {
        height: 400px;
    }

    .Other {
        height: 400px;
    }
}
@media only screen and (max-width:875px) {
    .detailsContainer {
        grid-template-rows: repeat(15,250px);
        font-size: 2vw;
    }
    .Animals {
        height: 500px;
    }

    .Princesses {
        height: 500px;
    }

    .Pirates {
        height: 500px;
    }

    .Other {
        height: 500px;
    }
}
@media only screen and (max-width:750px) {
    .detailsContainer {
        grid-template-rows: repeat(15,300px);
        font-size: 2.3vw;
    }
    .Animals {
        height: 600px;
    }

    .Princesses {
        height: 600px;
    }

    .Pirates {
        height: 600px;
    }

    .Other {
        height: 600px;
    }
}
@media only screen and (max-width:625px) {
    .detailsContainer {
        grid-template-rows: repeat(15,350px);
        font-size: 2.6vw;
    }
        .Animals{
        height: 700px;
    }
    .Princesses {
        height: 700px;
    }
    .Pirates {
        height: 700px;
    }
    .Other {
        height: 700px;
    }
}
@media only screen and (max-width:500px) {
    .detailsContainer {
        grid-template-rows: repeat(15,400px);
        font-size: 3.2vw;
    }
    .Animals {
        height: 800px;
    }

    .Princesses {
        height: 800px;
    }

    .Pirates {
        height: 800px;
    }

    .Other {
        height: 800px;
    }
}
@media only screen and (max-width:375px) {
    .detailsContainer {
        grid-template-rows: repeat(15,450px);
        font-size: 3.5vw;
    }
    .Animals {
        height: 900px;
    }

    .Princesses {
        height: 900px;
    }

    .Pirates {
        height: 900px;
    }

    .Other {
        height: 900px;
    }
}
/*End of details styling*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/*END MODAL*/

