/*Navbar styling*/
.navbar {
    grid-row: 1;
    grid-column: 1 / span 6;
    z-index: 1;
    position: fixed;
    width: 100%;
    font-family: 'Acme';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-right: 1px solid lightgray;
    }

        li a:hover {
            background-color: #DDC7FF;
        }

    li:last-child {
        border-right: none;
    }
/*end of navbar styling*/

/*stories styling*/
.containerStories {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(20, auto);
    min-width: 1336px;
    width: 90%;
    margin: 0px;
    padding: 0px;
    padding-left:2%
}

.wrapperStories {
    display: grid;
    grid-template-columns: 190% 190% 190%;
    grid-gap: 10px;
    background-color: white;
    color: white;
    font-family: 'Acme';
}

.boxStories {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.princessStories {
    background-color: rgba(118, 113, 113, 0.46);
    background-image: url('../StoriesIndexPhotos/princess.png');
    background-size: cover;
    text-align: center;
    color: black;
    font-size: 20px;
}

.pirateStories {
    background-image: url('../homepageicons/pirateimages/austin-neill-685080-unsplash.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    font-size: 20px;
}

.animalStories {
    background-image: url('../StoriesIndexPhotos/image (2).png');
    text-align: center;
    color: white;
    font-size: 20px;
}

.otherStories {
    background-color:orange;
    text-align: center;
    color: white;
    font-size: 20px;
}

.storiesHeader {
    padding-top: 6%;
    text-align: center;
    font-family: 'Acme';
}
/*end of story styling*/

/*STORIES AND FAVORITES ZOOM*/
.zoom {
    padding:0px;
    transition: transform .2s; /* Animation */
    margin: 5px;
}

    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
/*END STORIES AND FAVORITES ZOOM*/

/*Favorites styling*/
.favoritesTitle {
    padding-top: 6%;
    font-family: 'Acme';
    text-align:center;
}
/*End of favorites styling*/

/*Details stylings*/
.detailsContainer {
    display: grid;
    grid-template-rows: repeat(15,100px);
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: 1vw;
    min-width: 375px;
    grid-gap: 10px;
}
.detailsTitle{
    grid-column:span 15;
}
.detailsParagraphs{
    grid-column:span 15;
}
.detailsPartialView{
    grid-column:span 15;
}
.detailsAuthor{
    color:darkslategrey;
}

#prompts{
    grid-column:2/span 13;


}
/*Styling for each individual themes*/
.Animals {
    grid-column: span 15;
    background-image: url('../StoriesIndexPhotos/piggy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: auto;
    grid-row: span 2;
}

.Pirates {
        grid-column: span 15;
        background-image: url('../StoriesIndexPhotos/pirates.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        width: auto;
        grid-row: span 2;
    }
.Princesses {
    grid-column: span 15;
    background-image: url('../StoriesIndexPhotos/princess.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: auto;
    grid-row: span 2;
}
.Other {
    grid-column: span 15;
    background-image: url('../homePageIcons/pirate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: auto;
    grid-row: span 2;
}
/*end individual themes*/

/*MAKING TEXT AREA BIGGER FOR SUBMITTING STORIES*/
textarea {
    width: 400px;
    height: 200px;
}
/*END TEXT AREA*/

/* Media Queries for individual themes*/
@media only screen and (max-width:1125px){
    .detailsContainer {
        grid-template-rows: repeat(15,150px);
        font-size:1.4vw;
    }
    .Animals{
        height: 300px;
    }
    .Princesses {
        height: 300px;
    }
    .Pirates {
        height: 300px;
    }
    .Other {
        height: 300px;
    }
}
@media only screen and (max-width:1000px) {
    .detailsContainer {
        grid-template-rows: repeat(15,200px);
        font-size: 1.7vw;
    }
    .Animals {
        height: 400px;
    }

    .Princesses {
        height: 400px;
    }

    .Pirates {
        height: 400px;
    }

    .Other {
        height: 400px;
    }
}
@media only screen and (max-width:875px) {
    .detailsContainer {
        grid-template-rows: repeat(15,250px);
        font-size: 2vw;
    }
    .Animals {
        height: 500px;
    }

    .Princesses {
        height: 500px;
    }

    .Pirates {
        height: 500px;
    }

    .Other {
        height: 500px;
    }
}
@media only screen and (max-width:750px) {
    .detailsContainer {
        grid-template-rows: repeat(15,300px);
        font-size: 2.3vw;
    }
    .Animals {
        height: 600px;
    }

    .Princesses {
        height: 600px;
    }

    .Pirates {
        height: 600px;
    }

    .Other {
        height: 600px;
    }
}
@media only screen and (max-width:625px) {
    .detailsContainer {
        grid-template-rows: repeat(15,350px);
        font-size: 2.6vw;
    }
        .Animals{
        height: 700px;
    }
    .Princesses {
        height: 700px;
    }
    .Pirates {
        height: 700px;
    }
    .Other {
        height: 700px;
    }
}
@media only screen and (max-width:500px) {
    .detailsContainer {
        grid-template-rows: repeat(15,400px);
        font-size: 3.2vw;
    }
    .Animals {
        height: 800px;
    }

    .Princesses {
        height: 800px;
    }

    .Pirates {
        height: 800px;
    }

    .Other {
        height: 800px;
    }
}
@media only screen and (max-width:375px) {
    .detailsContainer {
        grid-template-rows: repeat(15,450px);
        font-size: 3.5vw;
    }
    .Animals {
        height: 900px;
    }

    .Princesses {
        height: 900px;
    }

    .Pirates {
        height: 900px;
    }

    .Other {
        height: 900px;
    }
}
/*End of details styling*/

/*Home Page stylings*/
.homeContainer {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(10, 65px);
    min-width: 1336px;
    width: 90%;
    margin: 0px;
    padding: 0px;
}

.homeBackground {
    grid-row: 1 / span 13;
    grid-column: 1 / span 6;
    background-image: url('../../Images/storybook3.jpg');
    background-size: cover;
}

#welcomeText {
    /*grid-row: 5;
    grid-column: 1 / 7;*/
    margin-top: 100px;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

#writer {
    /*grid-row: 2;
    grid-column: 1 / 7;*/
    /*margin-top: 25px;
    margin-left: 45px;*/
    font-family: 'Amaranth', sans-serif;
    font-size: 30px;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}
/*end of hompage stylings*/