@model StoryTeller.Data.Favorites

@{
    ViewBag.Title = "Delete";
}

<div class="delete">
    <h2>Are you sure you want to remove this story from your Favorites?</h2>
    <div>
            
                Story @Html.DisplayNameFor(modelItem => modelItem.Title) : 
           
                @Html.DisplayFor(modelItem => modelItem.Title)

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>