@model IEnumerable<StoryTeller.Data.Favorites>
@{
    ViewBag.Title = "Your Favorite Stories";
}

<style>
    li a {
        color: white;
    }

        li a:hover {
            background-color: gold;
            color: black;
        }
</style>

<div class="favoritesBackground">
    <div class="favoritesTitle">
        <h2>Favorite Stories</h2>
    </div>

    <div class="containerFavorites">
        <div class="wrapperFavorites">

            @foreach (var item in Model)
            {
                <div class="boxStories faveBoxes zoom">
                    <p>
                        Story Name:
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                    <p>@Html.ActionLink("Read story", "Details", "Stories", new { Id = item.StoryId }, null)</p>
                    <p>@Html.ActionLink("Remove from favorites", "Delete", new { id = item.Id })</p>
                </div>
            }
        </div>
    </div>

</div>